<div *ngIf="reservationData !== undefined" class="reservation-container">
  <div class="reservation-summary">
    <section class="reservation-summary-header">
      <h2>Reservation summary</h2>
    </section>
    <section class="reservation-summary-content">
      <div class="row py-3">
        <div class="col-4">
          <label class="label-data">Name:</label>
          <span class="cursor" (click)="editReservation()">&nbsp;{{ reservationData?.name }}</span>
        </div>
        <div class="col-4">
          <label class="label-data">Email:</label>
          <span class="cursor" (click)="editReservation()">&nbsp;{{ reservationData?.email }}</span>
        </div>
        <div class="col-4">
          <label class="label-data">Phone:</label>
          <span class="cursor" (click)="editReservation()">&nbsp;{{ reservationData?.phone }}</span>
        </div>
        <div class="col-4">
          <label class="label-data">Region preference:</label>
          <span class="cursor" (click)="editReservation()">&nbsp;{{ reservationData?.selectedRegion?.name }}</span>
        </div>
        <div *ngIf="reservationData?.selectedRegion?.smokingAllowed" class="col-4">
          <label class="label-data">Smoking during dinner:</label>
          <span class="cursor" (click)="editReservation()"
            >&nbsp;{{ reservationData?.smoking === true ? 'Yes' : 'No' }}</span
          >
        </div>
        <div class="col-4">
          <label class="label-data">Party size:</label>
          <span class="cursor" (click)="editReservation()">&nbsp;{{ reservationData?.partySize }}</span>
        </div>
        <div class="col-4" *ngIf="reservationData?.selectedRegion?.childrenAllowed">
          <label class="label-data">Children in party:</label>
          <span class="cursor" (click)="editReservation()">&nbsp;{{ reservationData?.children }}</span>
        </div>
        <div *ngIf="reservationData?.birthday" class="col-4">
          <label class="label-data">Celebrating birthday:</label>
          <span class="cursor" (click)="editReservation()"
            >&nbsp;{{ reservationData?.birthday === true ? 'Yes' : 'No' }}</span
          >
        </div>
        <div *ngIf="reservationData?.birthday && reservationData?.birthdayName !== ''" class="col-4">
          <label class="label-data">Birthday person name:</label>
          <span class="cursor" (click)="editReservation()">&nbsp;{{ reservationData?.birthdayName }}</span>
        </div>
        <div class="col-8">
          <label class="label-data">Reservation time:</label>
          <span class="cursor" (click)="editReservation()"
            >&nbsp;{{ formattedDate }}&nbsp;at&nbsp;{{ reservationData?.selectedTime?.name }}&nbsp;o'clock</span
          >
        </div>
      </div>
    </section>

    <section class="reservation-summary-footer">
      <div class="row">
        <div class="col-md-12">
          <button class="submit-button" (click)="confirmReservation()">Confirm Reservation</button>
        </div>
      </div>
    </section>
  </div>
</div>
