@import "../../../../styles.scss";
.reservation-ok {
  padding: 15px 52px;
  &-message {
    background-color: $color-white;
  }
  &-button {
    padding-top: 20px;
    color: $color-white;
    // background: linear-gradient(0deg, #666 0, #000);
    border-color: #000;
  }
}
