<div *ngIf="isDataLoaded" class="reservation">
  <div class="reservation-form p-fluid">
    <form #reservationForm="ngForm" (ngSubmit)="showReservationSummary()">
      <section class="form-header">
        <h2>Table Reservation</h2>
        <div>Please fill the form below accurately.. welcome!</div>
      </section>
      <section class="form-content">
        <div class="row form-line">
          <div class="col-md-2">
            <label class="form-label">* Name</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              pInputText
              placeholder=" Kafe restaurant"
              required
              [(ngModel)]="reservation.name"
              name="name"
            />
            <div *ngIf="reservation.name.trim() === ''">
              <span class="not-valid-field">Enter a valid name</span>
            </div>
          </div>
        </div>
        <div class="row form-line">
          <div class="col-md-2">
            <label class="form-label">* Email</label>
          </div>
          <div class="col-md-4">
            <!-- Add error message if email not valid -->
            <input
              type="text"
              placeholder="ex: myname@kafe.com"
              pInputText
              [(ngModel)]="reservation.email"
              name="email"
              required
              (ngModelChange)="handleInputEmail($event)"
            />
            <span class="not-valid-field" *ngIf="!reservation.isValidEmail">Enter a valid email address.</span>
          </div>
        </div>
        <div class="row form-line">
          <div class="col-md-2">
            <label class="form-label">* Phone</label>
          </div>
          <div class="col-md-4">
            <p-inputMask
              mask="+99 999999999"
              placeholder="+34 655 456 988"
              [(ngModel)]="reservation.phone"
              [required]="true"
              name="phone"
            ></p-inputMask>
            <span class="not-valid-field" *ngIf="reservation.phone === ''">Enter a valid phone.</span>
          </div>
        </div>
        <div class="row form-line">
          <div class="col-md-2">
            <label class="form-label">* Region preference</label>
          </div>
          <div class="col-md-4">
            <p-dropdown
              [options]="regions"
              [(ngModel)]="reservation.selectedRegion"
              optionLabel="name"
              name="regions"
              [required]="true"
              (onChange)="updatePartySizeLimit()"
            ></p-dropdown>
            <div *ngIf="!isChildrenPartyAllowed()">
              <p class="info-message">Parties with children not permitted.</p>
            </div>

            <div *ngIf="reservation.selectedRegion.smokingAllowed" class="checkbox-container">
              <label class="form-label">Smoking during dinner</label>
              <p-checkbox
                class="form-field-checkbox"
                [(ngModel)]="reservation.smoking"
                [binary]="true"
                name="smoking"
              ></p-checkbox>
            </div>
          </div>
        </div>
        <div class="row form-line">
          <div class="col-md-2">
            <label class="form-label">* Party Size</label>
          </div>
          <div class="col-md-4">
            <p-inputNumber
              [(ngModel)]="reservation.partySize"
              [min]="1"
              [max]="reservation.tableCapacity"
              [required]="true"
              name="partySize"
            ></p-inputNumber>
            <div class="info-message">
              {{ reservation.partySizeInfo }}
            </div>
          </div>
        </div>
        <div *ngIf="isChildrenPartyAllowed()" class="row form-line">
          <div class="col-md-2">
            <label class="form-label">* Children in party</label>
          </div>
          <div class="col-md-4">
            <p-inputNumber
              [(ngModel)]="reservation.children"
              inputId="minmax"
              inputId="minmax"
              mode="decimal"
              [min]="0"
              [max]="reservation.partySize - 1"
              name="children"
              [required]="true"
            ></p-inputNumber>
            <span class="not-valid-field" *ngIf="reservation.children >= reservation.partySize"
              >Introduce a valid children party.</span
            >
          </div>
        </div>

        <div class="row form-line">
          <div class="col-md-4 checkbox-container">
            <label class="form-label">Celebrating a birthday?</label>
            <p-checkbox
              class="form-field-checkbox"
              [(ngModel)]="reservation.birthday"
              [binary]="true"
              name="birthday"
            ></p-checkbox>
          </div>
        </div>

        <div class="row form-line">
          <div class="col-md-5">
            <div *ngIf="reservation.birthday">
              <label class="form-label">Birthday person's name (optional)</label>
              <input type="text" name="birthdayName" pInputText [(ngModel)]="reservation.birthdayName" />
            </div>
          </div>
        </div>

        <div class="row form-label-calendar">
          <div class="col-12">
            <label>Reservation</label>
          </div>
        </div>
        <div class="row">
          <div class="calendar-padding">
            <p-calendar
              [(ngModel)]="reservation.selectedDate"
              [inline]="true"
              [showWeek]="true"
              name="selectedDate"
              (onSelect)="onDateSelect($event)"
              [minDate]="reservation.minDate"
              [maxDate]="reservation.maxDate"
            ></p-calendar>
          </div>

          <div class="col-3">
            <p-dropdown
              [options]="timeSlots"
              [(ngModel)]="reservation.selectedTime"
              optionLabel="name"
              name="timeSlots"
              placeholder="Select a time slot"
              [required]="true"
            ></p-dropdown>
            <span class="not-valid-field" *ngIf="reservation.selectedTime?.code === '0'">* Select a time slot.</span>
          </div>
        </div>
      </section>

      <div class="row form-line">
        <div class="col-md-12">
          <section class="form-submit-reservation">
            <button
              class="submit-button"
              type="submit"
              [disabled]="reservationForm.invalid || (reservation.children >= reservation.partySize)"
              
            >
              Submit Reservation
            </button>
          </section>
        </div>
      </div>
    </form>
  </div>
</div>
